p {
    color: #000;
}
#id1 {font-size: 25px; color: aqua;}
li {color: blueviolet;}
.p1 {color: blue;}
ul+p {color: red;}

.schedule-body>tr:hover {
    background-color: tomato;
    color: white;
}

/* Оформление таблицы */
.schedule {
    border-collapse: collapse;
}

.schedule th,
.schedule td {
    padding: 8px;
    border: 1px solid #212121;
}

pre {
    font-family: 'Tangerine', cursive;
    color: #2a2a2a;
    font-size: 16px;
}
.post {
    letter-spacing: normal;
}
.post-title {
    text-align: center;
    letter-spacing: 10px;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
    text-indent: 25px;
    letter-spacing: inherit;
}
